
body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; 
    margin: 0;
    padding: 0;
    color: #333;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


nav {
    display: flex;
    justify-content: center;
    background-color: #007bb5; 
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #00e5ff; 
}

/* Header */
header h1 {
    font-size: 2em;
    text-align: center;
    color: #003366; 
    margin-top: 0;
}

/* Profil Section */
section h2 {
    color: #005b96; 
    border-bottom: 2px solid #00c1d4;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


section img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #00c1d4; 
    width: 150px;
    height: 150px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid #005b96; 
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bb5; 
    color: #ffffff;
}


section p {
    text-align: justify;
    line-height: 1.6;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-weight: bold;
}

li p {
    margin: 5px 0;
    font-weight: normal;
    color: #4d4d4d;
}


ul li a {
    color: #007bb5; 
    text-decoration: none;
}

ul li a:hover {
    color: #00c1d4; 
    text-decoration: underline;
}
